.popup {
  z-index: 9999;
  width: 100%;
  overflow: hidden;
  border-radius: $radius-md;
  background-color: $white;
  border: 1px solid $neutral-200;
  box-shadow: $shadow-lg;
  display: none;

  .selectMenu {
    @include flexbox($space-1, column, flex-start, stretch);
    max-height: 184px;
    padding: $space-2;
    overflow-y: overlay;

    .item {
      transition: $transition-all;
      border-radius: $radius-sm;
      cursor: pointer;

      .text {
        @include glyph14Regular;
        margin: $space-2 $space-4;
        color: $neutral-700;
        text-align: center;
      }

      &:hover {
        background-color: $neutral-100;

        .text {
          color: $neutral-900;
        }
      }

      &:active {
        background-color: $primary-50;

        .text {
          color: $primary-700;
        }
      }
    }
  }

  &.hasSearch {
    .searchInputWrapper {
      padding: $space-2 $space-4;
      border-bottom: 1px solid $neutral-200;
    }

    .selectMenu {
      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: $radius-sm;
        background-color: $neutral-300;

        &:hover {
          background-color: $neutral-400;
        }
      }

      &::-webkit-scrollbar-track {
        background-color: $neutral-100;
      }

      .text {
        text-align: left;
      }

      .emptySearch {
        @include glyph14Medium;
        margin: $space-12 auto $space-16;
        color: $neutral-400;
        text-align: center;
      }
    }
  }
}
