.container {
  @include flexbox($space-12, column, flex-start, center);
  padding: $space-6;
}

.text {
  @include glyph16Regular;
  margin-top: $space-16;
  text-align: center;
  color: $neutral-700;
  line-height: $leading-relaxed;
}
