.container {
  // 참고: 케밥의 위치 설정을 위한 relative 설정
  position: relative;
  width: 388px;
  padding: $space-4 $space-5 $space-5;
  border-radius: $radius-lg;
  background-color: $white;
  box-shadow: $shadow-sm;
  border: 1px solid $neutral-200;
  cursor: grab;
  transition: $transition-all;

  &:hover {
    box-shadow: $shadow-md;
    transform: translateY(-1px);
    border-color: $neutral-300;
  }

  &.isDragging,
  &.isLoading {
    opacity: 0.5;
    transform: none;
    box-shadow: $shadow-lg;
  }
}

.header {
  @include flexbox(normal, row, space-between, center);
  margin-bottom: $space-6;

  .info {
    @include flexbox($space-2, row, flex-start, center);

    .customer {
      @include glyph16Bold;
      color: $neutral-900;
    }

    .model {
      @include glyph14Regular;
      color: $neutral-400;
    }
  }
}

.body {
  @include flexbox($space-2, column, flex-start, stretch);
  margin-bottom: $space-4;

  .field {
    @include flexbox($space-2, row, flex-start, center);

    .text {
      @include glyph14Medium;
      @include ellipsis;
      color: $neutral-700;
    }
  }
}

.date {
  @include glyph14Regular;
  color: $neutral-700;
}
