.container {
  @include flexbox(normal, row, flex-start, stretch);
  height: calc(100vh - $gnb-height);

  .contentWrapper {
    flex-grow: 1;
    padding: $space-8;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    min-height: 100%;
    
    > * {
      width: 100%;
      max-width: 1400px;
    }
  }
}
