.container {
  @include flexbox(normal, row, space-between, center);
  position: sticky;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  height: $gnb-height;
  margin: 0 auto;
  padding-inline: $space-8;
  background-color: $white;
  box-shadow: $shadow-sm;
  backdrop-filter: blur(8px);
  border-bottom: 1px solid $neutral-200;

  .profile {
    @include flexbox(12px, row, flex-start, center);

    .image {
      border: 1px solid $neutral-300;
      border-radius: 50%;
      object-fit: cover;
      transition: $transition-all;
    }

    &:hover .image {
      border-color: $primary-600;
      box-shadow: $shadow-sm;
    }

    .text {
      @include flexbox(6px, row, flex-start, center);

      .name {
        @include glyph18Medium;
        color: $neutral-800;
      }

      .company {
        @include glyph14Medium;
        color: $neutral-500;
      }
    }
  }
}
