.container {
  @include flexbox($space-2, row, flex-start, center);
  width: fit-content;
  cursor: pointer;
  transition: $transition-all;

  &:hover:not(.selected) .outerCircle {
    border-color: $neutral-500;
    background-color: $neutral-50;
  }

  .outerCircle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin: $space-1;
    transition: $transition-all;
    border-radius: 50%;
    border: 2px solid $neutral-400;
    background-color: $white;

    .innerCircle {
      width: 8px;
      height: 8px;
      transition: $transition-all;
      border-radius: 50%;
      transform: scale(0);
    }
  }

  &.selected {
    .outerCircle {
      border-color: $primary-600;
      background-color: $white;
    }

    .innerCircle {
      background-color: $primary-600;
      transform: scale(1);
    }
  }

  .label {
    @include glyph14Regular;
    color: $neutral-700;
    cursor: pointer;
  }
}
