.contractName {
  font-weight: 600;
  color: $primary-700;
}

.resolutionDate {
  font-weight: 500;
  color: $neutral-700;
  font-size: 13px;
}

.userName {
  font-weight: 500;
  color: $info-700;
}

.carNumber {
  font-weight: 600;
  font-family: 'Pretendard', monospace;
  color: $neutral-900;
}