.container {
  position: relative;

  .trigger {
    @include flexbox(normal, row, space-between, center);
    width: 100%;
    padding-inline: $space-5;
    transition: $transition-all;
    border-radius: $radius-md;
    background-color: $white;
    box-shadow: 0 0 0 1px inset $neutral-400;
    font-size: $font-size-sm;

    &:hover {
      box-shadow: 0 0 0 1px inset $neutral-500;
      background-color: $neutral-50;
    }

    &:focus-within {
      box-shadow: 0 0 0 2px $primary-100, 0 0 0 4px $primary-600;
      outline: none;
    }

    .selectedOption {
      @include glyph14Regular;
      color: $neutral-900;

      &:not(.selected) {
        color: $neutral-400;
      }
    }
  }

  .popoverWrapper {
    position: relative;
    top: $space-2;
    box-shadow: $shadow-lg;
    border-radius: $radius-md;
    background-color: $white;
    border: 1px solid $neutral-200;
    overflow: hidden;
  }

  &.search {
    width: 180px;

    .trigger {
      height: 40px;

      &.isOpened {
        box-shadow: 0 0 0 2px $primary-100, 0 0 0 4px $primary-600;
      }
    }
  }

  &.modal {
    width: 100%;

    .trigger {
      height: 48px;
      padding-inline: $space-6;
    }
  }
}
